{
  email admin@5.61.37.222.sslip.io
}

{$DOMAIN} {
  encode zstd gzip
  reverse_proxy api:8000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}
